* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book_cart {
  display: flex;
  justify-content: center;
  padding: 10%;
  flex-direction: column;
  width: 60%;
}

.carts_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(65, 57, 57);
}

.carts_card {
  align-items: stretch;
  font-size: 0;
  border-bottom: 1px solid silver;
  padding: 20px 0;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.book_img img {
  width: 150px;
  height: 200px;
}

.cart_details p {
  color: black;
}

.cart_btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  height: 50px;
}
