* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(65, 57, 57);
}

.section {
  background-color: rgb(126, 121, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.books_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 40%; */
  /* height: 350px; */
}

.card {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  background-color: rgb(197, 184, 68);
  padding: 1% 1%;
  margin-left: 25px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: cover;
  border-radius: 10px;
  width: 40%;
  height: 500px;
}

.card img {
  float: left;
  margin: 20px;
}
